@font-face {
    font-family: 'flexolight';
    src: url('../fonts/flexo-light-webfont.eot');
    src: url('../fonts/flexo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flexo-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'flexoregular';
    src: url('../fonts/flexo-regular-webfont.eot');
    src: url('../fonts/flexo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flexo-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'flexobold';
    src: url('../fonts/flexo-demi-webfont.eot');
    src: url('../fonts/flexo-demi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flexo-demi-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneue_light';
    src: url('../fonts/helveticaneue-light-webfont.eot');
    src: url('../fonts/helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneue_bold';
    src: url('../fonts/helveticaneue-bd-webfont.eot');
    src: url('../fonts/helveticaneue-bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-bd-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneue_medio';
    src: url('../fonts/helveticaneue-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'uni_05_53';
    src: url('../fonts/uni05_53-webfont.woff2') format('woff2'),
         url('../fonts/uni05_53-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'configcondensed_light';
    src: url('../fonts/config-condensed-light-webfont.woff2') format('woff2'),
         url('../fonts/config-condensed-light-webfont.woff') format('woff');
    src: url('../fonts/config-condensed-light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'configcondensed_bold';
    src: url('../fonts/config-condensed-bold-webfont.woff2') format('woff2'),
         url('../fonts/config-condensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.fontFlexoLight{font-family:flexolight;}
.fontFlexoRegular{font-family:flexoregular;}
.fontFlexoBold{font-family:flexobold;}
.fontHelveticaLight{font-family:helveticaneue_light;}
.fontHelveticaBold{font-family:helveticaneue_bold;}
.fontHelveticaMedio{font-family:helveticaneue_medio;}
